.top-bar {
    margin-bottom: 3em;
}

.controls {
    &--container {
        margin-bottom: 2em;
    }
}

.contact {
    &--label {
        font-size: .875rem;
    }

    &--details {
        border: 1px solid #cacaca;
        width: 100%;
        padding: .5rem;
        margin: 0 0 1rem;
    }
}